.card-container {
    position: relative;
    height: 90px;
    width: 90px;

}


.card {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: .5s ease;
    border-radius: 5px;
    background: linear-gradient(145deg, #ffffff, #ffffff);

}


.isFlip {
    transform: rotateY(180deg);
    
}

.isInActive {
    opacity: 0;

}

img {
    height: 75px;
    width: 75px;
}

.front {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

}

.front img {
    height: 60px;
    width: 60px;
}

.back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background-color: #ffffff;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
 